html {
  height: 100%;
}

body {
  min-width: 320px;
}

ul[class], ol[class] {
  margin: 0;
  padding: 0;

  list-style: none;
}

input[type="number"] {
  //noinspection Stylelint
  -moz-appearance: textfield;

  //noinspection Stylelint
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
  }
}

h1 {
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.g {

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #00bfff;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
  }

  &-header__title {
    color: #ffffff;
    font-size: 25px;
  }

  &-header__menu {
    display: flex;
    margin-left: 100px;
  }

  &-header__menu-item {
    margin-right: 20px;
  }

  &-header__menu-item_balance {
    margin-right: 100px;
  }

  &-header__menu-link {
    color: #ffffff;
  }

  &-container {
    padding-left: 35px;
    padding-right: 35px;
  }
}