.p-categories {

  &__title {
    color: #000000;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  &__category {
    margin-bottom: 20px;
  }

  &__category-sum {
    padding-left: 10px;
  }
}