.p-home {

  &__caption {
    padding-top: 30px;
    margin-bottom: 10px;
  }

  &__choose-date {
    min-width: 250px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &__spending {
    margin-right: 15px;
  }

  &__add-spending {
    max-width: 250px;
    display: inline;
  }

  &__select-categories {
    min-width: 250px;
    height: 30px;
    cursor: pointer;
  }

  &-current__wrapper {
    display: flex;
  }

  &-current__make {
    margin-top: 20px;
  }

  &__add-balance {
    max-width: 250px;
  }

  &-current__add {
    margin-left: 15px;
  }
}