.p-transactions {

  &__wrapper {
    max-width: 600px;
  }

  &__header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__header-title {
    font-size: 13px;
    font-weight: bold;
    flex-basis: 25%;
  }

  &__transaction {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__transaction-information {
    flex-basis: 25%;
  }
}