<template>
  <div class="p-categories">
    <c-header />
    <div class="g-container">
      <p class="p-categories__title">
        Категории доходов/расходов:
      </p>
      <div v-for="category in categories"
           :key="category.id"
           class="p-categories__category">
        <span class="p-categories__category-name">{{ category.name }}:</span>
        <span class="p-categories__category-sum">{{ $store.getters.getSumByCategoryId(category.id) }} руб.</span>
      </div>
    </div>
  </div>
</template>

<script>
import CHeader from '@/components/CHeader'

export default {
  name: 'Categories',
  components: {
    CHeader
  },
  data () {
    return {}
  },
  computed: {
    categories () {
      return this.$store.state.categories
    }
  }
}
</script>
