<template>
  <div class="p-home">
    <c-header />
    <div class="g-container">
      <div class="p-home-panel">
        <p class="p-home__caption">
          Текущий баланс: <span class="p-home__caption-current">{{ balance }} руб.</span>
        </p>
        <form ref="form"
              class="p-home-form"
              name="home-form"
              @submit.prevent="formSubmit">
          <div v-if="!balanceEntered"
               class="p-home-current">
            <button v-if="!activeBalanceField"
                    class="p-home-current__make btn btn-primary"
                    @click.prevent="enterBalance">
              Внесите текущий баланс
            </button>
            <div v-else
                 class="p-home-current__wrapper">
              <label for="current-balance" />
              <input id="current-balance"
                     v-model="form.currentBalance"
                     name="currentBalance"
                     pattern="^[ 0-9]+$"
                     placeholder="Ваш баланс"
                     type="number"
                     class="p-home__add-balance form-control">
              <button class="p-home-current__add btn btn btn-primary"
                      @click.prevent="currentBalanceEntered">
                Внести
              </button>
            </div>
          </div>
          <p class="p-home__caption">
            Введите сумму:
          </p>
          <label for="add-spending" />
          <input id="add-spending"
                 v-model="form.sum"
                 name="addSpending"
                 pattern="^[ 0-9]+$"
                 required
                 placeholder="Сумма"
                 type="number"
                 class="p-home__add-spending form-control">
          <p class="p-home__caption">
            Выберите категорию:
          </p>
          <label for="categories" />
          <select id="categories"
                  v-model="form.categoryId"
                  class="p-home__select-categories"
                  name="categories">
            <option v-for="category in categories"
                    :key="category.id"
                    :value="category.id">
              {{ category.name }}
            </option>
          </select>
          <div class="p-home-wrapper">
            <p class="p-home__caption">
              Выберите дату:
            </p>
            <label for="date" />
            <input id="date"
                   v-model="form.date"
                   name="date"
                   type="date"
                   class="p-home__choose-date">
          </div>
          <div class="p-home-wrapper">
            <button class="p-home__spending btn btn-danger"
                    type="submit"
                    @click.prevent="reduceBalance">
              Добавить расход
            </button>
            <button class="p-home__income btn btn-success"
                    type="submit"
                    @click.prevent="increaseBalance">
              Добавить приход
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import CHeader from '@/components/CHeader'

export default {
  name: 'Home',
  components: {
    CHeader
  },
  data () {
    return {
      activeBalanceField: false,
      balanceEntered: false,
      form: {
        sum: '',
        categoryId: null,
        date: new Date().toISOString().slice(0, 10),
        id: Math.random(),
        currentBalance: ''
      }
    }
  },
  computed: {
    categories () {
      return this.$store.state.categories
    },
    balance () {
      return this.$store.state.balance
    },
    initCategoryId () {
      const category = this.categories.find(category => category.id)
      return (category && category.id) || null
    }
  },
  created () {
    this.form.categoryId = this.initCategoryId
  },
  methods: {
    enterBalance () {
      this.activeBalanceField = true
    },
    currentBalanceEntered () {
      this.$store.dispatch('setBalance', Number(this.form.currentBalance))
      this.balanceEntered = true
    },
    formSubmit () {
      let payload = {
        amountMoney: Number(this.form.sum),
        categoryId: this.form.categoryId,
        date: this.form.date,
        id: this.form.id
      }
      this.$store.commit('SET_TRANSACTION', payload)
    },
    reduceBalance () {
      this.formSubmit()
      this.$store.commit('REDUCE_BALANCE', this.form.categoryId)
    },
    increaseBalance () {
      this.formSubmit()
      this.$store.commit('INCREASE_BALANCE', this.form.categoryId)
    }
  }
}
</script>
