<template>
  <div class="p-transactions">
    <c-header />
    <div class="g-container">
      <div class="p-transactions__wrapper">
        <div class="p-transactions__header">
          <span class="p-transactions__header-title">№</span>
          <span class="p-transactions__header-title">СУММА</span>
          <span class="p-transactions__header-title">КАТЕГОРИЯ</span>
          <span class="p-transactions__header-title">ДАТА</span>
        </div>
        <ol class="p-transactions__wrap">
          <li v-for="(transaction, index) in transactions"
              :key="transaction.id"
              class="p-transactions__transaction">
            <span class="p-transactions__transaction-information">{{ index += 1 }}</span>
            <span class="p-transactions__transaction-information">{{ transaction.amountMoney }} руб.</span>
            <span class="p-transactions__transaction-information">{{ $store.getters.getCategoryById(transaction.categoryId).name }}</span>
            <span class="p-transactions__transaction-information">{{
              new Date(String(transaction.date)).toLocaleDateString()
            }}</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
import CHeader from '@/components/CHeader'

export default {
  name: 'Transactions',
  components: {
    CHeader
  },
  data () {
    return {}
  },
  computed: {
    transactions () {
      return this.$store.state.transactions
    }
  }
}
</script>
