<template>
  <div class="g-header">
    <router-link
      to="/"
      class="g-header__title">
      Expense controller
    </router-link>
    <ul class="g-header__menu">
      <li class="g-header__menu-item g-header__menu-item_balance">
        Баланс: {{ balance }} руб.
      </li>
      <li class="g-header__menu-item">
        <router-link to="/categories"
                     class="g-header__menu-link">
          Категории
        </router-link>
      </li>
      <li class="g-header__menu-item">
        <router-link to="/transactions"
                     class="g-header__menu-link">
          Финансовая история
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "CHeader",
  computed: {
    balance () {
      return this.$store.state.balance
    }
  }
}
</script>

<style scoped>

</style>